<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Practice Assessment 3</title>
</head>
<body>
    <h1>Widgets:</h1>
    {% if widgets|length == 0 %}
        <p>No Widgets Exist</p>
    {% else %}
        <ul>
            {% for widget in widgets %}
                <li>{{ widget }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <hr>
</body>
</html>